<ion-app>
  <ion-split-pane>
    <ion-menu>            

      <ion-header>
          <ion-toolbar color="primary" class="user-profile">
              <ion-item color="primary">
                <ion-avatar slot="start" class="user-avatar">
                  <img src="assets/logo.png">
                </ion-avatar>
                <ion-label>
                  <ion-text color="light">
                    <h2><strong>Company Logo</strong></h2>
                    <small>Welcome, {{userName}}</small>
                  </ion-text>
                </ion-label>
              </ion-item>
              <ion-row>
                <ion-col size="6">
                    <ion-menu-toggle auto-hide="false">
                        <ion-button *ngIf="!isLoggedIn"  color="secondary" expand="block">
                          <ion-icon slot="start" name="log-in"></ion-icon>
                          Sign In
                        </ion-button>
                        <ion-button *ngIf="isLoggedIn"  color="secondary" expand="block">
                          <ion-icon slot="start" name="contact"></ion-icon>
                          Account
                        </ion-button>
                    </ion-menu-toggle>
                </ion-col>
                <ion-col size="6">
                    <ion-menu-toggle auto-hide="false">
                        <ion-button color="secondary" expand="block">
                            <ion-icon slot="start" name="cart"></ion-icon>
                            Orders
                        </ion-button>
                    </ion-menu-toggle>
                </ion-col>
              </ion-row>
            </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
