<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
              <ion-badge color="secondary">1</ion-badge>
              <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- START -- Image Slider -->
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="assets/sliders/slide1.jpg" style="max-height: 350px;" height="350">
        </ion-slide>
        <ion-slide>
            <img src="assets/sliders/slide2.jpg" style="max-height: 350px;" height="350">
        </ion-slide>
    </ion-slides>
    <!-- END -- Image Slider -->
    
    <!-- START - Sliding Content -->
    <!-- START - Item Divider -->
    <ion-item-divider color="light">
        <ion-label>Trending</ion-label>
        <ion-button size="small" slot="end" color="secondary" fill="outline">View</ion-button>
      </ion-item-divider>
    <!-- END - Item Divider -->
    <!-- START - Sliding Content -->
    <ion-slides no-padding [options]="sliderConfig">
      <ion-slide>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Test Product - 250
              </ion-card-title>
              <ion-card-content>
                <img src="https://via.placeholder.com/300x300">
                <ion-button expand="full">Add to Cart</ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Test Product - 250
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
      </ion-slide>
      <ion-slide>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Test Product - 250
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
      </ion-slide>
    </ion-slides>
    <!-- END - Sliding Content -->
    <!-- START - Item Divider -->
    <ion-item-divider color="light">
        <ion-label>Trending</ion-label>
        <ion-button size="small" slot="end" color="secondary" fill="outline">View</ion-button>
      </ion-item-divider>
    <!-- END - Item Divider -->
    <!-- START - Sliding Content -->
      <ion-slides no-padding [options]="sliderConfig">
        <ion-slide>
          <div>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Test Product - 250
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
        <ion-slide>
            <div>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Test Product - 250
                  </ion-card-title>
                  <ion-card-content>
                    <img src="https://via.placeholder.com/300x300">
                    <ion-button expand="full">Add to Cart</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
        </ion-slide>
        <ion-slide>
            <div>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Test Product - 250
                  </ion-card-title>
                  <ion-card-content>
                    <img src="https://via.placeholder.com/300x300">
                    <ion-button expand="full">Add to Cart</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
        </ion-slide>
      </ion-slides>
      <!-- END - Sliding Content -->
</ion-content>