.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.bgColorRow {
  background-color: #ffffff !important;
}

ion-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

.category-banner {
  border-left: 8px solid var(--ion-color-secondary);
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}